@import "../../scripts/home/style/main.scss";

.mask-layer-content {
  background: transparent url("~images/performer-info/mask-layer-bg.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;

  .back-off {
	right: 83px;
	bottom: 154px;
  }
  .mask-layer-top-logo {
	background: transparent url("~images/performer-info/mask-layer-top-logo.png") no-repeat;
	background-size: contain;
	right: 8px;
	top: 571px;
	width: 288px;
	height: 275px;
	position: absolute;
	&.mask-layer-top-logo-top {
	  top: 320px;
	}
  }

  .video-content {
	position: relative;
	width: 100%;
	margin-top: 679px;

	.title-work-name {
	  font-size: 64px;
	  color: #FFFFFF;
	  text-align: center;
	}

	.top-slide-contnet {
	  position: relative;
	  margin-top: 120px;
	  .left-arrow {
		@extend .left-arrow-public;
		top: 380px;
		left: 20px;
		z-index: 100;
	  }
	  .right-arrow {
		@extend .right-arrow-public;
		top: 380px;
		right: 30px;
		z-index: 100;
	  }

	  .slide-container {
		width: 100%;
		margin: 0 auto;

		.slide {
		  width: 100%;
		  height: 887px;
		  //overflow: hidden;
		  position: relative;

		  .video-slide-content {
			width: 100%;
			height: 887px;
			//overflow: hidden;
			position: absolute;
			//transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s, z-index 0.4s;
			transition: left 0.4s;

			.previous-content {
			  transform: rotateX(88deg);
			  -moz-transform: rotateX(88deg);
			  -webkit-transform: rotateX(88deg);
			  top: -580px;
			  position: absolute;
			  width: 100%;
			  text-align: center;
			  color: #fff;
			  line-height: 50px;
			  display: none;

			}
			.next-content {
			  display: none;
			  transform: rotateX(80deg);
			  -moz-transform: rotateX(80deg);
			  -webkit-transform: rotateX(80deg);

			  position: absolute;
			  width: 100%;
			  bottom: -659px;
			}

			.video-img {
			  width: 100%;
			  height: 887px;
			  overflow: hidden;
			  position: absolute;

			  .mask-layer-suspend {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: transparent url("~images/classicRepertoire/suspend-logo.png") no-repeat;
				background-size: 179px 179px;
				background-position: center;
				z-index: 101;

				&.mask-layer-suspend-none {
				  background: none !important;
				}
			  }

			}

			&.img1 {
			  left: -200%;
			  z-index: 1;
			  opacity: 0.4;
			}

			&.img2 {
			  z-index: 2;
			  left: -100%;
			  opacity: 0.6;

			}

			&.img3 {
			  left: 0;
			  z-index: 3;
			  visibility: visible;
			}

			&.img4 {
			  left: 100%;
			  z-index: 2;
			  opacity: 0.6;
			}

			&.img5 {
			  left: 200%;
			  z-index: 1;
			  opacity: 0.4;
			}

			&.img6 {
			  display: none;
			}
		  }
		}
	  }

	}
	.bottom-slide-contnet {
	  position: relative;
	  width: 1282px;
	  margin: 180px auto 0 auto;
	  background: transparent url("~images/performer-info/arrow-left-right.png") no-repeat;
	  background-size: contain;
	  background-position: center;

	  .left-arrow {
		@extend .left-arrow-public;
		top: 100px;
		left: 0;
		background: none;
	  }
	  .right-arrow {
		@extend .right-arrow-public;
		background: none;
		top: 100px;
		right: 0;
	  }

	  .slide-container {
		width: 1050px;
		margin: 0 auto;

		.slide {
		  width: 100%;
		  height: 322px;
		  overflow: hidden;
		  position: relative;

		  .preview-slide-content {
			width: 337px;
			height: 322px;
			overflow: hidden;
			position: absolute;
			//transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s, z-index 0.4s;
			transition: left 0.4s;

			.modern-name {
			  font-size: 50px;
			  color: #ffffff;
			  height: 60px;
			  margin-bottom: 20px;
			  text-align: center;
			  visibility: hidden;
			  margin-top: 20px;

			}
			.modern-img {
			  width: 337px;
			  height: 244px;
			  overflow: hidden;
			}

			&.img1 {
			  left: 0;
			  z-index: 1;
			  opacity: 0.4;
			  @include transform-public(scaleY(0.8));
			}

			&.img2 {
			  z-index: 2;
			  left: calc((100% - 411px) / 2 - (411px) / 2);
			  opacity: 0.6;
			  @include transform-public(scaleY(0.9));

			}

			&.img3 {
			  left: calc((100% - 411px) / 2);
			  z-index: 3;
			  .modern-name {
				visibility: visible;

			  }
			}

			&.img4 {
			  left: calc((100% - 411px) / 2 + (411px) / 2);
			  z-index: 2;
			  opacity: 0.6;
			  @include transform-public(scaleY(0.9));
			}

			&.img5 {
			  left: calc((100% - 411px) / 2 + 411px);
			  z-index: 1;
			  opacity: 0.4;
			  @include transform-public(scaleY(0.8));
			}
			&.img6 {
			  display: none;
			}
		  }
		}
	  }

	}

  }

  .article-content {
	margin-top: 465px;

	.title-work-name {
	  font-size: 64px;
	  color: #FFFFFF;
	  text-align: center;
	}

	.top-slide-contnet {
	  position: relative;
	  margin-top: 120px;
	  background-size: contain;
	  background-position: center;

	  .left-arrow {
		@extend .left-arrow-public;
		background: transparent url("~images/performer-info/article-arrow-left.png") no-repeat;
		top: 380px;
		left: 20px;
		z-index: 100;
	  }

	  .right-arrow {
		@extend .right-arrow-public;
		top: 380px;
		right: 30px;
		z-index: 100;
		background: transparent url("~images/performer-info/article-arrow-right.png") no-repeat;

	  }

	  .slide-container {
		width: 100%;
		margin: 0 auto;

		.slide {
		  width: 100%;
		  height: 1100px;
		  //overflow: hidden;
		  position: relative;

		  .video-slide-content {
			width: 100%;
			height: 1100px;
			//overflow: hidden;
			position: absolute;
			//transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s, z-index 0.4s;
			transition: left 0.4s;

			.previous-content {
			  transform: rotateX(86deg);
			  -moz-transform: rotateX(86deg);
			  -webkit-transform: rotateX(86deg);
			  top: -748px;
			  background-color: #ffffff;
			}
			.next-content {
			  transform: rotateX(72deg);
			  -moz-transform: rotateX(72deg);
			  -webkit-transform: rotateX(72deg);
			  bottom: -384px;
			  background-color: #ffffff;
			}

			.article-scroll-content {
			  width: 1402px;
			  height: 1000px;
			  //overflow: hidden;
			  position: absolute;
			  background-color: #ffffff;
			  padding: 50px;
			  .bottom-info-content {
				height: 300px;
			  }

			}
		  }
		}
	  }

	}
	.bottom-slide-contnet {
	  position: relative;
	  width: 1282px;
	  margin: 180px auto 0 auto;
	  background: transparent url("~images/performer-info/arrow-left-right.png") no-repeat;
	  background-size: contain;
	  background-position: 0 100px;

	  .left-arrow {
		@extend .left-arrow-public;
		top: 100px;
		left: 0;
		background: none;
	  }
	  .right-arrow {
		@extend .right-arrow-public;
		background: none;
		top: 100px;
		right: 0;
	  }

	  .slide-container {
		width: 1050px;
		margin: 0 auto;

		.slide {
		  width: 100%;
		  height: 595px;
		  overflow: hidden;
		  position: relative;

		  .article-slide-content {
			height: 595px;
			width: 100%;
			overflow: hidden;
			position: absolute;
			//transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s, z-index 0.4s;
			transition: left 0.4s;

			.article-li {
			  width: 247px;
			  float: left;
			  margin-left: 140px;
			  word-break: break-all;
			  &.article-li-isSelect {
				.article-name {
				  color: red;
				}
			  }
			  &:first-child {
				margin-left: 0;
			  }

			  .article-name {
				font-size: 30px;
				color: #ffffff;
				width: 100%;
				text-align: center;
				float: left;
				margin-top: 20px;
			  }

			  .article-img {
				float: left;
				width: 247px;
				height: 292px;
				overflow: hidden;
			  }

			}

			&.img1 {
			  left: -200%;
			  z-index: 1;
			  opacity: 0.4;
			  @include transform-public(scaleY(0.8));
			}

			&.img2 {
			  z-index: 2;
			  left: -100%;
			  opacity: 0.6;
			  @include transform-public(scaleY(0.9));

			}

			&.img3 {
			  left: 0;
			  z-index: 3;
			  visibility: visible;
			}

			&.img4 {
			  left: 100%;
			  z-index: 2;
			  opacity: 0.6;
			  @include transform-public(scaleY(0.9));
			}

			&.img5 {
			  left: 200%;
			  z-index: 1;
			  opacity: 0.4;
			  @include transform-public(scaleY(0.8));
			}

			&.img6 {
			  display: none;
			}
		  }
		}
	  }

	}

  }

}

