@import "../../scripts/home/style/main.scss";

.mask-layer-content {
  background: transparent url("~images/performer-info/mask-layer-bg.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;

  .back-off {
	right: 18px;
	bottom: 39px;
  }
  .mask-layer-top-logo {
	background: transparent url("~images/performer-info/mask-layer-top-logo.png") no-repeat;
	background-size: contain;
	right: 5px;
	top: 242px;
	width: 98px;
	height: 118px;
	position: absolute;
	&.mask-layer-top-logo-top {
	  top: 142px;
	}
  }

  .video-content {
	position: relative;
	width: 100%;
	margin-top: 246px;
	height: 100%;

	.title-work-name {
	  font-size: 42px;
	  color: #FFFFFF;
	  text-align: center;
	}

	.top-slide-contnet {
	  position: relative;
	  margin-top: 53px;
	  //height: 887px;

	  .preview-content {
		position: absolute;
		-webkit-perspective: 1200px;
		-moz-perspective: 1200px;
		-o-perspective: 1200px;
		perspective: 1200px;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transform-style: preserve-3d;
		//width: 100%;
		height: 476px;
		bottom: 259px;
		width: calc(100% - 141px);
		margin: auto 70px;
		img {
		  transform: translate3d(0px, 0px, -286px) rotateX(85deg) rotateY(0deg);
		}

		> div {
		  background-color: #ffffff;
		  padding: 50px;
		  transform: translate3d(0px, 0px, -286px) rotateX(85deg) rotateY(0deg);
		}
	  }

	  .next-content {
		position: absolute;
		-webkit-perspective: 1200px;
		-moz-perspective: 1200px;
		-o-perspective: 1200px;
		perspective: 1200px;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transform-style: preserve-3d;
		height: 476px;
		top: 262px;
		width: calc(100% - 140px);
		margin: 0 70px;

		img {
		  transform: translate3d(0px, 0px, -290px) rotateX(-84deg) rotateY(0deg);
		}

		> div {
		  background-color: #ffffff;
		  padding: 33px;
		  transform: translate3d(0px, 0px, -290px) rotateX(-84deg) rotateY(0deg);
		}
	  }

	  .left-arrow {
		@extend .left-arrow-public;
		top: 253px;
		left: 5px;
		z-index: 100;
	  }
	  .right-arrow {
		@extend .right-arrow-public;
		top: 253px;
		right: 5px;
		z-index: 100;
	  }

	  .slide-container {
		//width: 100%;
		margin: 0 85px;
		height: 476px;

		.video-slide-content {
		  width: 100%;
		  //height: 887px;

		  .video-img {
			width: 100%;
			height: 476px;
			overflow: hidden;
			position: absolute;

			.mask-layer-suspend {
			  position: absolute;
			  left: 0;
			  top: 0;
			  width: 100%;
			  height: 100%;
			  background: transparent url("~images/classicRepertoire/suspend-logo.png") no-repeat;
			  background-size: 83px 83px;
			  background-position: center;
			  z-index: 101;

			  &.mask-layer-suspend-none {
				background: none !important;
			  }
			}

		  }
		}
	  }

	}
	.bottom-slide-contnet {
	  position: relative;
	  width: 644px;
	  margin: 46px auto 0 auto;
	  background: transparent url("~images/performer-info/arrow-left-right.png") no-repeat;
	  background-size: contain;
	  background-position: center;

	  .left-arrow {
		@extend .left-arrow-public;
		top: 66px;
		left: 0;
		background: none;
	  }
	  .right-arrow {
		@extend .right-arrow-public;
		background: none;
		top: 66px;
		right: 0;
	  }

	  .slide-container {
		width: 533px;
		margin: 0 auto;
		height: 220px;

		.preview-slide-content {
		  width: 224px;
		  height: 218px;
		  overflow: hidden;

		  .modern-name {
			font-size: 33px;
			color: #ffffff;
			height: 40px;
			margin-bottom: 13px;
			text-align: center;
			//visibility: hidden;
			margin-top: 13px;

		  }
		  .modern-img {
			width: 224px;
			height: 162px;
			overflow: hidden;
		  }
		}
	  }

	}

  }

  .article-content {
	margin-top: 190px;

	.title-work-name {
	  font-size: 42px;
	  color: #FFFFFF;
	  text-align: center;
	}

	.top-slide-contnet {
	  position: relative;
	  margin-top: 80px;
	  background-size: contain;
	  background-position: center;

	  .preview-content {
		height: 572px;
		bottom: 262px;
		width: calc(100% - 102px);
		margin: auto 51px;
		> div {
		  width: 100%;
		  height: 476px;
		  background-color: #ffffff;
		  padding: 33px;
		  transform: translate3d(0px, 0px, -352px) rotateX(85deg) rotateY(0deg);
		}
	  }

	  .next-content {
		//width: 100%;
		height: 572px;
		top: 355px;
		width: calc(100% - 126px);
		margin: auto 64px;
		> div {
		  width: 100%;
		  height: 476px;
		  background-color: #ffffff;
		  padding: 33px;
		  transform: translate3d(0px, 0px, -310px) rotateX(-84deg) rotateY(0deg);
		}
	  }

	  .left-arrow {
		@extend .left-arrow-public;
		//background: transparent url("~images/performer-info/article-arrow-left.png") no-repeat;
		top: 253px;
		left: 5px;
		z-index: 100;
	  }

	  .right-arrow {
		@extend .right-arrow-public;
		top: 253px;
		right: 5px;
		z-index: 100;
		//background: transparent url("~images/performer-info/article-arrow-right.png") no-repeat;

	  }

	  .slide-container {
		//width: 100%;
		//margin: 0 auto;
		height: 572px;
		margin: 0 80px;

		.article-scroll-content {
		  width: 100%;
		  height: 572px;
		  //overflow: hidden;
		  background-color: #ffffff;
		  padding: 16px;
		  overflow: scroll;
		  -webkit-overflow-scrolling: touch;
		  .bottom-info-content {
			height: 200px;
		  }
		  > div {
			overflow-x: hidden;
		  }

		}
	  }

	}
	.bottom-slide-contnet {
	  position: relative;
	  width: 644px;
	  margin: 100px auto 0 auto;
	  background: transparent url("~images/performer-info/arrow-left-right.png") no-repeat;
	  background-size: contain;
	  background-position: 0 60px;

	  .left-arrow {
		@extend .left-arrow-public;
		top: 66px;
		left: 0;
		background: none;
	  }
	  .right-arrow {
		@extend .right-arrow-public;
		background: none;
		top: 66px;
		right: 0;
	  }

	  .slide-container {
		width: 533px;
		margin: 0 auto;
		height: 244px;

		.article-li {
		  width: 126px;
		  float: left;
		  //margin-left: 140px;
		  word-break: break-all;
		  &.article-li-isSelect {
			.article-name {
			  color: red;
			}
		  }
		  &:first-child {
			margin-left: 0;
		  }

		  .article-name {
			font-size: 16px;
			color: #ffffff;
			width: 100%;
			text-align: center;
			float: left;
			margin-top: 13px;
		  }

		  .article-img {
			float: left;
			width: 113px;
			height: 140px;
			overflow: hidden;

		  }

		}
	  }

	}
	.pswp_custom {
	  .pswp__button {
		//transform: scale(2.5, 2.5);
		background-position: 0 -42px;
		background-size: 257px 100px;
	  }
	  .pswp__counter {
		left: 6px;
		top: 13px;
		font-size: 20px;
	  }
	  .pswp__caption__center_custom {
		word-break: break-all;
		font-size: 20px;
		max-width: 80%;
	  }
	  .pswp__button--close {
		//left: -11px;
		//top: 13px;
	  }

	  .pswp__preloader {
		display: none !important;
	  }

	}
  }

}

