//首页样式
@import "./main.scss";

//取消选中样式
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
 not supported by any browser */
}

body {
  background: transparent;
  //overflow: auto;
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  //width: 720px !important;
  //height: 1280px !important;
  margin: 0;
  padding: 0;
  position: relative;

  img {
	width: 100%;
	height: 100%;
  }

  video {
	height: 100%;
	width: 100%;
	object-fit: fill
  }

  #main, .main-content {
	width: 100%;
	height: 100%;
	position: relative;

  }

  //返回按钮样式
  .back-off {
	position: absolute;
	right: 36px;
	bottom: 273px;
	width: 60px;
	height: 60px;
	background: transparent url("~images/back-off.png") no-repeat;
	background-size: contain;
  }

}

.home-content {
  background: transparent url("~images/home/home-bg.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: relative;

  /*-----------顶部点击区域样式 start 既时间展示区域------------*/
  .click-div {
	text-align: center;
	width: 100%;
	position: absolute;
	height: 686px;
	z-index: 10;
	top: 0;

	//时间样式
	.performer-time-content {
	  font-size: 56px;
	  position: absolute;
	  color: #efe3b4;
	  width: 100%;
	  text-align: center;
	  bottom: 4px;
	  padding-left: 9px;
	}
  }
  /*-----------顶部点击区域样式 end 既时间展示区域------------*/

  /*-----------样式-------------*/
  .bottom-content {
	width: 100%;
	height: 516px;
	position: absolute;
	bottom: 0;
	left: 0;

	//左侧进入经典剧目页样式
	.bottom-left {
	  display: inline-block;
	  height: 100%;
	  width: 237px;
	  position: relative;

	  //经典剧目 区域样式
	  .left-title-img {
		background: transparent url("~images/home/home-title.png") no-repeat;
		background-size: contain;
		height: 85px;
		width: 124px;
		position: absolute;
		left: 76px;
		top: 68px;
	  }

	  //点击进入样式
	  .left-click-in-img {
		background: transparent url("~images/home/home-click.png") no-repeat;
		background-size: contain;
		height: 44px;
		width: 118px;
		position: absolute;
		bottom: 200px;
		left: 82px
	  }
	}

	//底部右侧viede/img展示样式
	.bottom-right {
	  display: inline-block;
	  height: 100%;
	  vertical-align: top;
	  width: 100%;
	  .right-thumbnail {
		//background: transparent url("~images/home/thumbnail.jpg") no-repeat;
		//background-size: contain;
		padding-top: 147px;
		padding-left: 159px;
		padding-right: 139px;
		padding-bottom: 94px;
		width: 100%;
		height: 100%;
	  }

	}

  }
  /*------------------------*/

}

