//首页样式
@import "./main.scss";

//取消选中样式
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
 not supported by any browser */
}

body {
  background: transparent;
  overflow: auto;
  font-size: 16px;
  width: 1502px;
  height: 2665px;
  margin: 0;
  padding: 0;
  position: relative;

  img {
	width: 100%;
	height: 100%;
  }

  video {
	height: 100%;
	width: 100%;
	object-fit: fill
  }

  #main, .main-content {
	width: 100%;
	height: 100%;
	position: relative;

  }

  //返回按钮样式
  .back-off {
	position: absolute;
	right: 77px;
	bottom: 644px;
	background-image: url("~images/back-off.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 124px;
	height: 124px;
  }

}

.home-content {
  background-repeat: no-repeat;
  background-image: url("~images/home/home-bg.jpg");
  width: 100%;
  height: 100%;
  background-size: contain;
  position: relative;

  /*-----------顶部点击区域样式 start 既时间展示区域------------*/
  .click-div {
	text-align: center;
	width: 100%;
	position: absolute;
	height: 600px;
	z-index: 10;
	top: 777px;

	//时间样式
	.performer-time-content {
	  font-size: 120px;
	  position: absolute;
	  color: #efe3b4;
	  width: 100%;
	  text-align: center;
	  bottom: -31px;
	  padding-left: 29px;
	}
  }
  /*-----------顶部点击区域样式 end 既时间展示区域------------*/

  /*-----------样式-------------*/
  .bottom-content {
	width: 1240px;
	height: 720px;
	position: absolute;
	bottom: 286px;
	left: 152px;

	//左侧进入经典剧目页样式
	.bottom-left {
	  display: inline-block;
	  height: 100%;
	  width: 340px;

	  //经典剧目 区域样式
	  .left-title-img {
		background-image: url("~images/home/home-title.png");
		background-repeat: no-repeat;
		background-size: contain;
		height: 167px;
		width: 294px;
	  }

	  //点击进入样式
	  .left-click-in-img {
		background-image: url("~images/home/home-click.png");
		background-repeat: no-repeat;
		background-size: contain;
		height: 44px;
		width: 179px;
		position: absolute;
		bottom: 180px;
		left: 51px;
	  }
	}

	//底部右侧viede/img展示样式
	.bottom-right {
	  display: inline-block;
	  height: 100%;
	  vertical-align: top;
	  .right-thumbnail {
		//background: transparent url("~images/home/thumbnail.jpg") no-repeat;
		//background-size: contain;
		height: 443px;
		width: 710px;
		margin-left: 85px;
		margin-top: 66px;
	  }

	}

  }
  /*------------------------*/

}

