//首页样式
@import "./main.scss";

//取消选中样式
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
 not supported by any browser */
}

body {
  background: transparent;
  //overflow: auto;
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  //width: 720px !important;
  //height: 1280px !important;
  margin: 0;
  padding: 0;
  position: relative;

  img {
	width: 100%;
	height: 100%;
  }

  video {
	height: 100%;
	width: 100%;
	object-fit: fill
  }

  #main, .main-content {
	width: 100%;
	height: 100%;
	position: relative;

  }

  //返回按钮样式
  .back-off {
	position: absolute;
	right: 36px;
	bottom: 273px;
	width: 60px;
	height: 60px;
	background: transparent url("~images/back-off.png") no-repeat;
	background-size: contain;
  }

  .back-off.trans{
	-webkit-animation:xguide_down 4.0s infinite ease-in-out;
	-moz-animation:xguide_down 4.0s infinite ease-in-out;
	-o-animation:xguide_down 4.0s infinite ease-in-out;
	animation:xguide_down 4.0s infinite ease-in-out
  }
  .back-off.arrow-1{
	animation-delay:-2.0s;
	-webkit-animation-delay:-2.0s;
	-moz-animation-delay:-2.0s;
	-o-animation-delay:-2.0s
  }


  @keyframes  myMove{
	0%{
	  transform:scale(1,1);
	  -moz-transform:scale(1,1);
	  -webkit-transform:scale(1,1);
	  -o-transform:scale(1,1);
	  -ms-transform:scale(1,1);
	}
	50%{
	  transform:scale(1.2,1.2);
	  -moz-transform:scale(1.2,1.2);
	  -webkit-transform:scale(1.2,1.2);
	  -o-transform:scale(1.2,1.2);
	  -ms-transform:scale(1.2,1.2);
	}
	100%{
	  transform:scale(1,1);
	  -moz-transform:scale(1,1);
	  -webkit-transform:scale(1,1);
	  -o-transform:scale(1,1);
	  -ms-transform:scale(1,1);
	}
  }
  @-webkit-keyframes  myMove{
	0%{
	  transform:scale(1,1);
	  -moz-transform:scale(1,1);
	  -webkit-transform:scale(1,1);
	  -o-transform:scale(1,1);
	  -ms-transform:scale(1,1);
	}
	50%{
	  transform:scale(1.2,1.2);
	  -moz-transform:scale(1.2,1.2);
	  -webkit-transform:scale(1.2,1.2);
	  -o-transform:scale(1.2,1.2);
	  -ms-transform:scale(1.2,1.2);
	}
	100%{
	  transform:scale(1,1);
	  -moz-transform:scale(1,1);
	  -webkit-transform:scale(1,1);
	  -o-transform:scale(1,1);
	  -ms-transform:scale(1,1);
	}
  }
  @-moz-keyframes  myMove{
	0%{
	  transform:scale(1,1);
	  -moz-transform:scale(1,1);
	  -webkit-transform:scale(1,1);
	  -o-transform:scale(1,1);
	  -ms-transform:scale(1,1);
	}
	50%{
	  transform:scale(1.2,1.2);
	  -moz-transform:scale(1.2,1.2);
	  -webkit-transform:scale(1.2,1.2);
	  -o-transform:scale(1.2,1.2);
	  -ms-transform:scale(1.2,1.2);
	}
	100%{
	  transform:scale(1,1);
	  -moz-transform:scale(1,1);
	  -webkit-transform:scale(1,1);
	  -o-transform:scale(1,1);
	  -ms-transform:scale(1,1);
	}
  }
  @-o-keyframes  myMove{
	0%{
	  transform:scale(1,1);
	  -moz-transform:scale(1,1);
	  -webkit-transform:scale(1,1);
	  -o-transform:scale(1,1);
	  -ms-transform:scale(1,1);
	}
	50%{
	  transform:scale(1.2,1.2);
	  -moz-transform:scale(1.2,1.2);
	  -webkit-transform:scale(1.2,1.2);
	  -o-transform:scale(1.2,1.2);
	  -ms-transform:scale(1.2,1.2);
	}
	100%{
	  transform:scale(1,1);
	  -moz-transform:scale(1,1);
	  -webkit-transform:scale(1,1);
	  -o-transform:scale(1,1);
	  -ms-transform:scale(1,1);
	}
  }

  @keyframes xguide_down{
	0%,100%{
	  transform:scale(0.0);
	  -moz-transform:scale(0.0);
	  -o-transform:scale(0.0);
	  -webkit-transform:scale(0.0);
	  -ms-transform:scale(0.0);
	  opacity:0
	}
	50%{
	  transform:scale(1.0);
	  -moz-transform:scale(1.0);
	  -o-transform:scale(1.0);
	  -webkit-transform:scale(1.0);
	  -ms-transform:scale(1.0);
	  opacity:1
	}

  }
  @-webkit-keyframes xguide_down{
	0%,100%{
	  -webkit-transform:scale(0.0);
	  -moz-transform:scale(0.0);
	  -o-transform:scale(0.0);
	  -ms-transform:scale(0.0);
	  transform:scale(0.0);
	  opacity:0
	}
	50%{
	  -webkit-transform:scale(1.0);
	  -moz-transform:scale(1.0);
	  -o-transform:scale(1.0);
	  -ms-transform:scale(1.0);
	  transform:scale(1.0);
	  opacity:1
	}

  }
  @-moz-keyframes xguide_down{
	0%,100%{
	  -moz-transform:scale(0.0);
	  -o-transform:scale(0.0);
	  -webkit-transform:scale(0.0);
	  -ms-transform:scale(0.0);
	  transform:scale(0.0);
	  opacity:0
	}
	50%{
	  -moz-transform:scale(1.0);
	  -o-transform:scale(1.0);
	  -webkit-transform:scale(1.0);
	  -ms-transform:scale(1.0);
	  transform:scale(1.0);
	  opacity:1
	}

  }
  @-o-keyframes xguide_down{
	0%,100%{
	  -o-transform:scale(0.0);
	  -moz-transform:scale(0.0);
	  -webkit-transform:scale(0.0);
	  -ms-transform:scale(0.0);
	  transform:scale(0.0);
	  opacity:0
	}
	50%{
	  -o-transform:scale(1.0);
	  -moz-transform:scale(1.0);
	  -webkit-transform:scale(1.0);
	  -ms-transform:scale(1.0);
	  transform:scale(1.0);
	  opacity:1
	}

  }


}

.home-content {
  background: transparent url("~images/home/home-bg.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: relative;

  /*-----------顶部点击区域样式 start 既时间展示区域------------*/
  .click-div {
	text-align: center;
	/* width: 100%; */
	position: absolute;
	height: 646px;
	z-index: 10;
	top: 40px;
	left: 23px;
	right: 23px;
	//时间样式
	.performer-time-content {
	  font-size: 60px;
	  position: absolute;
	  color: #efe3b4;
	  width: 100%;
	  text-align: center;
	  bottom: 5px;
	  padding-left: 14px;
	}
  }
  /*-----------顶部点击区域样式 end 既时间展示区域------------*/

  /*-----------样式-------------*/
  .bottom-content {
	height: 479px;
	position: absolute;
	bottom: 37px;
	z-index: 99;
	left: 23px;
	right: 23px;

	//底部右侧viede/img展示样式

  }

  .right-thumbnail {
	position: absolute;
	//background: transparent url("~images/home/thumbnail.jpg") no-repeat;
	//background-size: contain;
	//top: 147px;
	left: 159px;
	//padding-right: 139px;
	bottom: 94px;
	width: 422px;
	height: 275px;
	z-index: 100;
  }
  /*------------------------*/

}

