.img1 {
  background: transparent url("~images/classicRepertoire/classicRepertoire-bg.jpg") no-repeat;
}

.img2 {
  background: transparent url("~images/classicRepertoire/suspend-logo.png") no-repeat;
}

.img3 {
  background: transparent url("~images/performer-info/left-right.png") no-repeat;
}

.img4 {
  background: transparent url("~images/performer-info/right-arrow.png") no-repeat;
}

.img5 {
  background: transparent url("~images/performer-info/top-arrow.png") no-repeat;
}

.img6 {
  background: transparent url("~images/performer-info/top-bg.jpg") no-repeat;
}

.img7 {
  background: transparent url("~images/performer-info/top-right-logo.png") no-repeat;
}

.img8 {
  background: transparent url("~images/performer-info/top-bg-select.jpg") no-repeat !important;
}

.img9 {
  background: transparent url("~images/performer-info/the-actor-bg.png") no-repeat !important;
}

.img10 {
  background: transparent url("~images/performer-info/bottom-bg.jpg") no-repeat;
}

.img11 {
  background: transparent url("~images/performer-info/nav-bg.png") no-repeat;
}

.img12 {
  background: transparent url("~images/performer-info/nav-bg-select.png") no-repeat;
}

.img13 {
  background: transparent url("~images/performer-info/works-bg.png") no-repeat;

}

.img14{
  background: transparent url("~images/performer-info/suspend-logo-small.png") no-repeat;

}
.img15{
  background: transparent url("~images/performer-info/foter.png") no-repeat;

}

.img16{
  background: transparent url("~images/performer-list/performer-list-bg.jpg") no-repeat;

}
.img17{
  background: transparent url("~images/performer-list/letter-bg.png") no-repeat;

}
.img18{
  background: transparent url("~images/performer-list/performer-list-select.png") no-repeat;

}
.img19{
  background: transparent url("~images/performer-info/mask-layer-bg.png") no-repeat;

}
.img20{
  background: transparent url("~images/performer-info/mask-layer-top-logo.png") no-repeat;

}
.img21{
  background: transparent url("~images/classicRepertoire/suspend-logo.png") no-repeat;

}
.img2{
  background: transparent url("~images/performer-info/arrow-left-right.png") no-repeat;

}
.img23{
  background: transparent url("~images/performer-info/article-arrow-left.png") no-repeat;

}
.img24{
  background: transparent url("~images/performer-info/article-arrow-right.png") no-repeat;

}
.img25{
  background: transparent url("~images/performer-info/arrow-left-right.png") no-repeat;

}

