@import "./main.scss";

.performer-info-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .top-arrow {
	background: transparent url("~images/performer-info/top-arrow.png") no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	height: 38px;
	position: absolute;
	top: 877px;
	z-index: 98;
	@include transition-public(top);
	&.top-arrow-open {
	  top: 1760px;
	}
  }

  //顶部文案样式
  .top-content {
	position: relative;
	background: transparent url("~images/performer-info/top-bg.jpg") no-repeat;
	background-size: contain;
	width: 100%;
	height: 891px;
	overflow: hidden;
	@include transition-public(height);

	.top-right-logo {
	  background: transparent url("~images/performer-info/top-right-logo.png") no-repeat;
	  background-size: contain;
	  position: absolute;
	  right: 0;
	  width: 247px;
	  height: 275px;
	  top: 22px;
	  z-index: 1;
	}

	&.top-content-open {
	  height: 1769px;
	}

	&.top-content-open-showBg {
	  background: transparent url("~images/performer-info/top-bg-select.jpg") no-repeat !important;
	}

	.top-info {
	  height: 882px;
	  width: 100%;
	  //左侧头像 姓名区域样式
	  .left-content {
		width: 626px;
		height: 857px;
		float: left;

		.actor-name {
		  margin-top: 82px;
		  margin-left: 92px;
		  font-size: 120px;
		  color: #FFFFFF;
		}

		.actor-img {
		  background: transparent url("~images/performer-info/the-actor-bg.png") no-repeat !important;
		  background-size: contain;
		  margin-top: 56px;
		  width: 472px;
		  height: 507px;
		  margin-left: 40px;
		  font-size: 0;
		  padding-left: 35px;
		  img {
			width: 366px;
			height: 476px;
		  }

		}
	  }

	  //右侧文字区域样式
	  .right-content {
		float: left;
		height: 857px;
		width: 870px;
		z-index: 10;
		position: relative;

		//来院时间及毕业院校区域样式
		.educational-information {
		  margin-top: 100px;
		  //width: 640px;
		  height: 130px;
		  font-size: 50px;
		  color: #821c1e;

		  .educational-title {
			@extend .inline-block-vertical-align;
		  }

		  .educational-content {
			width: 452px;
			@extend .inline-block-vertical-align;
			@extend .overhidden-public;

		  }
		}

		//个性签名区域样式
		.personalized-signature {
		  width: 740px;
		  height: 200px;
		  color: #821c1e;
		  font-size: 50px;
		  margin-top: 60px;
		  line-height: 64px;
		  overflow: hidden;
		  word-break: break-all;
		}

		.brief-introduction {
		  width: 780px;
		  height: 338px;
		  font-size: 37px;
		  color: #1a0b03;
		  margin-top: 25px;
		  overflow: hidden;
		}
	  }
	}

	.bottom-info {
	  margin-top: 42px;
	  width: 100%;
	  height: 847px;

	  .bottom-info-title {
		font-size: 46px;
		color: #1a0b03;
	  }
	  .bottom-info-content {
		font-size: 32px;
		color: #1a0b03;
		padding-right: 20px;
	  }

	  .zhanwi {
		height: 30px;
		width: 100%;
	  }

	  .bottom-info-scrollbar {
		height: 100%;
		width: 10px;
		background-color: #9f857a;
		position: absolute;
		border-radius: 50px;
		right: 0;

		.handle {
		  width: 6px;
		  margin: 0 auto;
		  background-color: #fcfbfa;
		  border-radius: 50px;

		}
	  }

	  .teleplay-works {
		margin-left: 100px;
		width: 630px;
		height: 800px;
		float: left;
		position: relative;

		.teleplay-works-scrollbar-content {
		  height: 100%;
		  width: 100%;
		}
	  }
	  .honour-record {
		width: 630px;
		height: 800px;
		float: left;
		margin-left: 74px;
		position: relative;
		.honour-record-scrollbar-content {
		  height: 100%;
		  width: 100%;
		}
	  }
	}

  }

  //图片轮播样式
  .bottom-content {
	background: transparent url("~images/performer-info/bottom-bg.jpg") no-repeat;
	background-size: contain;
	width: 100%;
	height: 1808px;
	padding-top: 55px;

	//顶部导航样式
	.nav-content {
	  padding-left: 157px;
	  width: 1204px;
	  //height: 139px;
	  overflow: hidden;

	  .nav-li {
		float: left;
		width: 297px;
		height: 131px;
		background: transparent url("~images/performer-info/nav-bg.png") no-repeat;
		background-size: contain;
		margin-left: 3px;

		&:first-child {
		  margin-left: 0;
		}

		.nav-li-title {
		  height: 107px;
		  width: 297px;
		  line-height: 107px;
		  color: #495978;
		  font-size: 40px;
		  text-align: center;

		  .select {
			color: #12151d;
		  }
		}

		&.nav-li-select {
		  background: transparent url("~images/performer-info/nav-bg-select.png") no-repeat;
		  .nav-li-title {
			color: #12151d;
		  }
		}
	  }
	}

	//底部轮区域样式
	.slide-content {
	  padding-right: 156px;
	  padding-left: 156px;
	  padding-top: 30px;

	  //话剧作品轮播样式
	  .modern-contnet {
		position: relative;
		height: 500px;;
		.left-arrow {
		  @extend .left-arrow-public;
		  top: 174px;
		}
		.right-arrow {
		  @extend .right-arrow-public;
		  top: 174px;
		}

		.slide-container {
		  width: 100%;
		  margin: 0 auto;
		  height: 500px;;

		  .modern-slide-content {
			width: 411px;
			height: 388px;

			.modern-name {
			  font-size: 50px;
			  color: #ffffff;
			  height: 60px;
			  margin-bottom: 20px;
			  text-align: center;
			  //visibility: hidden;

			}
			.modern-img {
			  width: 411px;
			  height: 308px;
			  overflow: hidden;
			  position: absolute;
			}

		  }
		}

	  }

	  //影视作品 他院作品样式
	  .he-institute-contnet, .movies-contnet {
		position: relative;

		.left-arrow {
		  @extend .left-arrow-public;
		  top: 217px;
		}

		.right-arrow {
		  @extend .right-arrow-public;
		  top: 217px;
		}

		.slide-container {
		  width: 100%;
		  margin: 0 auto;
		  height: 595px;
		  .he-institute-slide-content, .movies-slide-content {
			width: 100%;
			height: 100%;
			overflow: hidden;

			.he-institute-name, .movies-name {
			  font-size: 50px;
			  color: #ffffff;
			  height: 100%;
			  text-align: center;
			  float: left;
			  width: calc(100% - 810px);
			  p {
				display: table-cell;
				vertical-align: middle;
				margin: 0;
				width: 380px;
				height: 550px;
			  }

			}

			.he-institute-img, .movies-img {
			  background: transparent url("~images/performer-info/works-bg.png") no-repeat;
			  background-size: contain;
			  float: left;
			  width: 810px;
			  height: 100%;
			  overflow: hidden;
			  position: relative;
			  img {
				margin: 47px 77px 161px 77px;
				width: calc(810px - 77px * 2);
				height: calc(100% - 208px);
			  }

			  .suspend-logo {
				background: transparent url("~images/performer-info/suspend-logo-small.png") no-repeat;
				background-size: contain;
				width: 62px;
				height: 65px;
				position: absolute;
				left: 370px;
				top: 217px;
			  }

			}

			&.img1 {
			  left: -200%;
			  z-index: 1;
			  opacity: 0.4;
			  @include transform-public(scaleY(0.8));
			}

			&.img2 {
			  z-index: 2;
			  left: -100%;
			  opacity: 0.6;
			  @include transform-public(scaleY(0.9));

			}

			&.img3 {
			  left: 0;
			  z-index: 3;
			  visibility: visible;
			}

			&.img4 {
			  left: 100%;
			  z-index: 2;
			  opacity: 0.6;
			  @include transform-public(scaleY(0.9));
			}

			&.img5 {
			  left: 200%;
			  z-index: 1;
			  opacity: 0.4;
			  @include transform-public(scaleY(0.8));
			}

			&.img6 {
			  display: none;
			}
		  }
		}

	  }
	  .article-contnet {
		position: relative;

		.left-arrow {
		  @extend .left-arrow-public;
		  top: 95px;
		}

		.right-arrow {
		  @extend .right-arrow-public;
		  top: 95px;
		}

		.slide-container {
		  width: 100%;
		  margin: 0 auto;
		  height: 595px;

		  .article-li {
			word-break: break-all;
			width: 247px;
			float: left;

			.article-name {
			  font-size: 30px;
			  color: #ffffff;
			  width: 100%;
			  text-align: center;
			  float: left;
			}

			.article-img {
			  float: left;
			  width: 247px;
			  height: 292px;
			  overflow: hidden;
			}

		  }

		}

	  }

	}
  }

  .foter-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 481px;
	background: transparent url("~images/performer-info/foter.png") no-repeat;
	background-size: contain;

	.back-off {
	  position: absolute;
	  right: 83px;
	  bottom: 154px;
	}
  }

}