//演员列表页样式
@import "./main.scss";

.performer-list-content {
  width: 100%;
  height: 100%;
  background-image: url("~images/performer-list/performer-list-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  .back-off {
	position: absolute;
	right: 100px;
	bottom: 100px;
  }

  //演员列表区域样式
  .performer-list-div {
	height: 1579px;
	width: 985px;
	position: absolute;
	top: 345px;
	left: 48px;

	//滚动条区域样式
	.performer-list-scrollbar {
	  width: 10px;
	  height: 100%;
	  background-color: #572d18;
	  position: absolute;

	  .handle {
		width: 6px;
		margin: 0 auto;
		background-color: #e0d6d1;

	  }
	}

	//演员列表区域样式
	.performer-list-scrollbar-content {
	  //加 performer-list-scrollbar-content 这一层是为了让滚动区域顶部有距离
	  //如果不加这一层 加到底下那一层的话 滚动条插件会自动计算顶部留白 上移滚动区域
	  width: 100%;
	  height: 1535px;
	  padding-top: 44px;
	  //padding-bottom: 44px;

	  .performer-sly {
		width: 100%;
		height: 100%;

		//演员列表不能填充满滚动区域时 垂直居中显示
		&.performer-sly-vertical {
		  //justify-content: center;
		  align-items: center;
		  display: -webkit-flex;
		}

		.performer-big {
		  margin: 0;
		  padding: 0;

		  .repertoire-list-div {
			margin-top: 44px;
			float: left;
		  }

		  .performer-li {
			float: left;
			margin-left: 30px;
			width: 279px;
			height: 357px;
			//background: transparent url("~images/performer-list/performer.png") no-repeat;
			//background-size: contain;
			//background-repeat: no-repeat;
			img {
			  box-shadow: 4px 2px 2px #000;
			  border-radius: 5px;
			}
		  }
		}
	  }
	}

  }

  .letter-content {
	width: 466px;
	height: 1612px;
	position: absolute;
	top: 545px;
	right: 0;
	//display: none;
	//overflow: hidden;

	.letter-list {
	  width: 2000px;
	  position: absolute;
	  -webkit-transform: rotate(-92deg);
	  z-index: 999;
	  left: -913px;
	  top: 539px;
	  font-size: 0;

	  .letter-li {
		float: left;
		width: 61px;
		text-align: center;

		&.buquan-cls {
		  visibility: hidden;
		}
		&.letter-li-select {
		  .select-img {
			display: block !important;
		  }
		}
		.letter-name {
		  font-size: 80px;
		  color: #821c1e;
		  font-weight: bold;
		  display: block;
		  width: 100%;
		  height: 70px;
		  line-height: 70px;
		}

		.letter-bg {
		  background-image: url("~images/performer-list/letter-bg.png");
		  background-repeat: no-repeat;
		  background-size: contain;
		  height: 74px;
		  width: 100%;
		  display: block;
		  text-align: center;
		  background-position: center;
		  margin-top: 50px;
		  .select-img {
			height: 60px;
			background-image: url("~images/performer-list/performer-list-select.png");
			background-repeat: no-repeat;
			width: 100%;
			text-align: center;
			background-size: 32px 32px;
			background-position: 23px 23px;
			display: none;

		  }
		}
	  }
	}
  }

  .letter-title {
	font-size: 300px;
	color: #ffffff;
	z-index: 1000;
	position: absolute;
	right: 16px;
	top: 517px;
  }

  //底部视频循环播放区域样式
  .video-content {
	.video-content-div {
	  width: 820px;
	  height: 480px;
	  position: absolute;
	  left: 145px;
	  bottom: 150px;
	}
  }

}
