@import "./main.scss";

.performer-info-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .top-arrow {
	background: transparent url("~images/performer-info/top-arrow.png") no-repeat;
	background-size: 100% 100%;
	background-position: center;
	width: 100%;
	height: 25px;
	position: absolute;
	top: 416px;
	z-index: 98;

	@include transition-public(top);
	&.top-arrow-open {
	  top: 794px;
	}

	.arrow {
	  display: block;
	  width: 30px;
	  height: 30px;
	  left: 355px;
	  margin-left: -11px;
	  /* border: 3px solid transparent; */
	  /* border-bottom: 3px solid #fff; */
	  /* border-right: 3px solid #fff; */
	  z-index: 99;
	  opacity: .8;
	  /* -webkit-transform: rotate(45deg); */
	  -webkit-animation: arrow 1.5s infinite ease-in-out;
	  position: absolute;
	  bottom: -5px;
	  /* background: #fff; */
	  background: linear-gradient(315deg, #fff 48%, transparent 51%);
	  border-bottom-right-radius: 6px;
	}

	@-webkit-keyframes arrow {
	  0% {
		opacity:0;
		-webkit-transform:translate(0, 0px) rotate(45deg)
	  }
	  50% {
		opacity:1;
		-webkit-transform:translate(0, -5px) rotate(45deg)
	  }
	  100% {
		opacity:0;
		-webkit-transform:translate(0, -10px) rotate(45deg)
	  }
	}

  }

  //顶部文案样式
  .top-content {
	position: relative;
	background: transparent url("~images/performer-info/top-bg.jpg") no-repeat;
	background-size: contain !important;
	width: 100%;
	height: 426px;
	overflow: hidden;
	@include transition-public(height);

	.top-right-logo {
	  background: transparent url("~images/performer-info/top-right-logo.png") no-repeat;
	  background-size: 100% 100%;
	  position: absolute;
	  right: 0;
	  width: 98px;
	  height: 118px;
	  top: 14px;
	  z-index: 1;
	}

	&.top-content-open {
	  height: 533px;
	}

	&.top-content-open-showBg {
	  background: transparent url("~images/performer-info/top-bg-select.jpg") no-repeat !important;
	}

	.top-info {
	  height: 422px;
	  width: 100%;
	  //左侧头像 姓名区域样式
	  .left-content {
		width: 300px;
		height: 384px;
		float: left;

		.actor-name {
		  margin-top: 54px;
		  margin-left: 61px;
		  font-size: 50px;
		  color: #FFFFFF;
		}

		.actor-img {
		  background: transparent url("~images/performer-info/the-actor-bg.png") no-repeat;
		  margin-top: 8px;
		  width: 216px;
		  height: 223px;
		  margin-left: 26px;
		  font-size: 0;
		  padding: 5px 42px 15px 16px;
		  background-size: contain;
		  img {
			width: 100%;
			height: 100%;
		  }

		}
	  }

	  //右侧文字区域样式
	  .right-content {
		float: left;
		height: 385px;
		width: 416px;
		z-index: 10;
		position: relative;

		//来院时间及毕业院校区域样式
		.educational-information {
		  margin-top: 48px;
		  height: 59px;
		  font-size: 20px;
		  color: #821c1e;

		  .educational-title {
			@extend .inline-block-vertical-align;
		  }

		  .educational-content {
			width: 211px;
			@extend .inline-block-vertical-align;
			@extend .overhidden-public;

		  }
		}

		//个性签名区域样式
		.personalized-signature {
		  width: 380px;
		  height: 90px;
		  color: #821c1e;
		  font-size: 20px;
		  margin-top: 33px;
		  line-height: 42px;
		  overflow: hidden;
		  word-break: break-all;
		}

		.brief-introduction {
		  width: 380px;
		  height: 150px;
		  font-size: 17px;
		  color: #1a0b03;
		  margin-top: 29px;
		  overflow: hidden;
		}
	  }
	}

	.bottom-info {
	  margin-top: 20px;
	  width: 100%;
	  height: 335px;

	  .bottom-info-title {
		font-size: 30px;
		color: #1a0b03;
	  }
	  .bottom-info-content {
		font-size: 21px;
		color: #1a0b03;
		padding-right: 13px;
	  }

	  .zhanwi {
		height: 20px;
		width: 100%;
	  }

	  .bottom-info-scrollbar {
		height: 100%;
		width: 6px;
		background-color: #9f857a;
		position: absolute;
		border-radius: 50px;
		right: 0;

		.handle {
		  width: 4px;
		  margin: 0 auto;
		  background-color: #fcfbfa;
		  border-radius: 50px;

		}
	  }

	  .teleplay-works {
		margin-left: 40px;
		width: 311px;
		height: 346px;
		float: left;
		position: relative;

		.teleplay-works-scrollbar-content {
		  height: 100%;
		  width: 100%;
		}
	  }
	  .honour-record {
		width: 311px;
		height: 346px;
		float: left;
		margin-left: 22px;
		position: relative;
		.honour-record-scrollbar-content {
		  height: 100%;
		  width: 100%;
		}
	  }
	}

  }

  //图片轮播样式
  .bottom-content {
	background: transparent url("~images/performer-info/bottom-bg.jpg") no-repeat;
	background-size: contain;
	width: 100%;
	height: 867px;
	padding-top: 36px;

	//顶部导航样式
	.nav-content {
	  //margin-left: 77px;
	  width: 100%;
	  //height: 139px;
	  overflow: hidden;
	  text-align: center;

	  .nav-li {
		//float: left;
		display: none;
		width: 133px;
		height: 58px;
		background: transparent url("~images/performer-info/nav-bg.png") no-repeat;
		background-size: 100% !important;
		margin-left: 3px;

		&.isShow {
		  display: inline-block;
		}

		&:first-child {
		  margin-left: 0;
		}

		.nav-li-title {
		  color: #495978;
		  height: 49px;
		  width: 133px;
		  line-height: 49px;
		  font-size: 20px;
		  text-align: center;

		  .select {
			color: #12151d;
		  }
		}

		&.nav-li-select {
		  background: transparent url("~images/performer-info/nav-bg-select.png") no-repeat;
		  .nav-li-title {
			color: #12151d;
		  }
		}
	  }
	}

	//底部轮区域样式
	.slide-content {
	  padding-right: 104px;
	  padding-left: 104px;
	  padding-top: 20px;

	  .no-data-cls {
		font-size: 24px;
		color: #000000;
	  }

	  //话剧作品 他院作品 轮播样式
	  .modern-contnet, .he-institute-contnet {
		position: relative;
		height: 333px;;
		.left-arrow {
		  @extend .left-arrow-public;
		  top: 116px;
		}
		.right-arrow {
		  @extend .right-arrow-public;
		  top: 116px;
		}

		.slide-container {
		  width: 100%;
		  margin: 0 auto;
		  height: 333px;;

		  .he-institute-slide-content, .modern-slide-content {
			width: 274px;
			height: 258px;

			.he-institute-name, .modern-name {
			  font-size: 33px;
			  color: #ffffff;
			  height: 40px;
			  margin-bottom: 13px;
			  text-align: center;
			  //visibility: hidden;

			}
			.he-institute-img, .modern-img {
			  width: 274px;
			  height: 205px;
			  overflow: hidden;
			  position: absolute;
			}

		  }
		}

	  }

	  //影视作品 样式
	  .movies-contnet {
		position: relative;

		.left-arrow {
		  @extend .left-arrow-public;
		  top: 94px;
		}

		.right-arrow {
		  @extend .right-arrow-public;
		  top: 94px;
		}

		.slide-container {
		  width: 100%;
		  margin: 0 auto;
		  height: 270px;
		  .movies-slide-content {
			width: 100%;
			height: 100%;
			overflow: hidden;

			.movies-name {
			  font-size: 23px;
			  color: #ffffff;
			  height: 100%;
			  text-align: center;
			  float: left;
			  width: calc(100% - 386px);
			  p {
				display: table-cell;
				vertical-align: middle;
				margin: 0;
				width: 253px;
				height: 233px;
				word-break: break-all;
			  }

			}

			.movies-img {
			  //background: transparent url("~images/performer-info/works-bg.png") no-repeat;
			  //background-size: contain;
			  float: left;
			  width: 386px;
			  height: 100%;
			  overflow: hidden;
			  position: relative;
			  img {
				margin: 23px 29px 66px 41px;
				width: calc(386px - 46px * 2);
				height: calc(100% - 92px);
			  }

			  .suspend-logo {
				background: transparent url("~images/performer-info/suspend-logo-small.png") no-repeat;
				background-size: 100% 100%;
				width: 33px;
				height: 33px;
				position: absolute;
				left: 171px;
				top: 94px;
			  }

			}

			&.img1 {
			  left: -200%;
			  z-index: 1;
			  opacity: 0.4;
			  @include transform-public(scaleY(0.8));
			}

			&.img2 {
			  z-index: 2;
			  left: -100%;
			  opacity: 0.6;
			  @include transform-public(scaleY(0.9));

			}

			&.img3 {
			  left: 0;
			  z-index: 3;
			  visibility: visible;
			}

			&.img4 {
			  left: 100%;
			  z-index: 2;
			  opacity: 0.6;
			  @include transform-public(scaleY(0.9));
			}

			&.img5 {
			  left: 200%;
			  z-index: 1;
			  opacity: 0.4;
			  @include transform-public(scaleY(0.8));
			}

			&.img6 {
			  display: none;
			}
		  }
		}

	  }
	  .article-contnet {
		position: relative;

		.left-arrow {
		  @extend .left-arrow-public;
		  top: 63px;
		}

		.right-arrow {
		  @extend .right-arrow-public;
		  top: 63px;
		}

		.slide-container {
		  width: 100%;
		  margin: 0 auto;
		  height: 396px;

		  .article-li {
			word-break: break-all;
			width: 164px;
			float: left;

			.article-name {
			  font-size: 16px;
			  color: #ffffff;
			  width: 100%;
			  text-align: center;
			  float: left;
			}

			.article-img {
			  float: left;
			  width: 113px;
			  height: 140px;
			  overflow: hidden;
			}

		  }

		}

	  }

	}
  }

  .foter-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 197px;
	background: transparent url("~images/performer-info/foter.png") no-repeat;
	background-size: 100% 100%;

	.back-off {
	  position: absolute;
	  right: 18px;
	  bottom: 40px;
	}
  }

}